<p id="notice"><%= notice %></p>

<h1>Hots</h1>

<%= link_to 'Data Hot', hot_db_path %>
<br>
<%= link_to 'Data Trending', trending_db_path %>
<br>
<%= link_to 'Data Fresh', fresh_db_path %>
<br>
<%= link_to 'Data Cute', cute_db_path %>
